<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727358980462-lpgja9fhc1184pltdmo5eifk20ppkcnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727358980462-lpgja9fhc1184pltdmo5eifk20ppkcnc</string>
	<key>API_KEY</key>
	<string>AIzaSyDlcMI4kcaLnBXVZyK60p0GuRkhF50l6jU</string>
	<key>GCM_SENDER_ID</key>
	<string>727358980462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.craterzone.MentorzLoginSignUpFlow</string>
	<key>PROJECT_ID</key>
	<string>mentorzloginsignupflow</string>
	<key>STORAGE_BUCKET</key>
	<string>mentorzloginsignupflow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727358980462:ios:e15871e1adaacb65</string>
	<key>DATABASE_URL</key>
	<string>https://mentorzloginsignupflow.firebaseio.com</string>
</dict>
</plist>